
.#{$namespace}btn--delete,
%btn--delete {
  color: $btn-delete-color;

  background-color: $btn-delete-bkg-color;

  &:hover,
  &:focus {
    background-color: $btn-delete-hover-bkg-color;
  }

  &:active {
    background-color: $btn-delete-active-bkg-color;
  }
}


.#{$namespace}btn--secondary,
%btn--secondary {
  color: $btn-secondary-color;
  border: 1px solid $btn-secondary-color;

  background-color: $btn-secondary-bkg-color;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
  }
}
