.place {
  white-space: nowrap;

  label {
    overflow: auto;
  }
}

.place__name {
  font-family: 'Open Sans Condensed', sans-serif;
}

.placeIcon {
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
}

.placeIcon--checkpoint {
  border-color: $mountain-red;
  background-color: $white;

  &.selected {
    border-color: $white;
    background-color: $mountain-red;
  }
}


.placeIcon--start {
  border-color: $hiking-green;
  background-color: $white;

  &.selected {
    background-color: $hiking-green;
  }
}

.placeIcon--finish {
  border-color: $mountain-red;
  background-color: $white;

  &.selected {
    background-color: $mountain-red;
  }
}
