<div class="box box--default"><em>Vous planifiez toujours vos sorties au mètre près? Sur le parcours vous suivez le tracé sur smartphone ou votre montre GPS.</em></div>
<h3>Mais allez-vous rentrer à l’heure?</h3>
<p><strong>Home by Two</strong> vous propose une liste de sorties à pied ou à vélo triées par heure de rentrée. Vous pouvez y ajoutez vos itinéraires préparés dans Suisse Mobile ou sur Strava.</p>
<p>Vous préparez vos horaires à la minute sur la base de votre vitesse et du profile de l'itinéraire. Pendant la sortie, <strong>Home by Two</strong> vous indique les écarts et actualise les heures d'arrivée.</p>
<p>En cas d'imprévu, vous trouvez facilement le meilleur moyen de rentrer.</p>

<h3>Comment ça marche?</h3>
<ul>
    <li>Les calculs de l'horaire se basent sur votre vitesse et tiennent compte de la pente et du dénivelé de l'itinéraire.</li>
    <li>Les horaires des transports sont fournis par <a href="http://transport.opendata.ch" title="transport open data api" target="_blank" >transport.opendata.ch</a>.</li>
</ul>