<div class="mrgt0 pdgt-- box box--default">
    <div class="grid grid--center">
        <h2 class="sm-w-2/3 grid__item">Sign up and to know when we launch:</h2>
        <form action="/your-name/" method="post">
            <div class="sm-w-1/2 grid__item mrgb-"><input id="email" type="text" name="your_name" value="youremail@example.com"></div>
            <div class="sm-w-1/6 grid__item"><input class="btn btn--primary btn--block" type="submit" value="Sign up"></div>
        </form>
    </div>
</div>