{% load humanize geojson_tags duration %}


{# start place #}
<h4 class="mrgh-">Start Place</h4>
<div class="box box--default box--tight mrgv- mrgh0 pdg- place place--start{% if route.start_place %} place--known{% endif %}" {% if route.start_place %}data-geom="{{ route.start_place|geojsonfeature:'name' }}"{% endif %}>
  <div class="grid grid--tight">
    <div class="grid__item place__name">{{ route.start_place.name|default:'Unknown Place' }}, {{ route.get_start_altitude.m|floatformat:0|intcomma }}m</div>
  </div>

  <div class="text-small text-right">{{ route.start_place.get_place_type_display|default:'Unknown place' }} - 0.00km</div>
</div>

{# checkpoints #}
<h4 class="mrgh-">Checkpoints</h4>

<ul class="list list--stacked">
  {% for checkpoint in checkpoints %}
  <li class="box box--default box--tight mrgv- pdg- checkpoint place--checkpoint place--known" data-geom='{{ checkpoint.place|geojsonfeature:"name" }}'>
    <div class="grid grid--tight">
      <div class="w-2/3 sm-w-4/5 grid__item place__name">{{ checkpoint.place.name }}, {{ checkpoint.altitude_on_route.m|floatformat:0|intcomma }}m </div>
      <div class="w-1/3 sm-w-1/5 grid__item text-right">{{ checkpoint.schedule|duration:'hike' }}</div>
    </div>
    <div class="text-small text-right">{{ checkpoint.place.get_place_type_display }} - {{ checkpoint.distance_from_start.km|floatformat:2|intcomma }}km</div>
  </li>

  {% empty %}
  <li class="box box--default box--tight mrgv- pdg- ">No checkpoint along the route.</li>

  {% endfor %}
</ul>

{# finish place #}
<h4 class="mrgh-">End Place</h4>
<div class="box box--default box--tight mrgv- pdg- place place--finish {% if route.end_place %} place--known{% endif %}" {% if route.end_place %}data-geom='{{ route.end_place|geojsonfeature:"name" }}'{% endif %}>
  <div class="grid grid--tight">
    <div class="w-2/3 sm-w-4/5 grid__item place__name">{{ route.end_place.name|default:'Unknown place' }}, {{ route.get_end_altitude.m|floatformat:0|intcomma }}m</div>
    <div class="w-1/3 sm-w-1/5 grid__item text-right">{{ route.get_total_duration|duration:'hike' }}</div>
  </div>
  <div class="text-small text-right mrgb0">{{ route.end_place.get_place_type_display|default:'Unknown type' }} - {{ route.get_length.km|floatformat:1|intcomma }}km</div>
</div>