{% if user == route.athlete.user %}
<section class="mrgv" id="garmin">
  <div class="grid grid--multiline grid--small">
    <div class="grid__item sm-w-2/3 lg-w-3/4">
      <h2 class="mrgt0">Download this route to your Garmin device</h2>
      <p>If own a compatible Garmin device, use the Virtual Racer feature to track your progress during your adventure.
        This route and its schedule can be published as an activity to the <em>Homebytwo</em> Garmin Connect account where you can download the route schedule and race against it.</p>
      <div class="mrgt grid grid--multiline grid--center grid--small">
        {# Butons if route is on Garmin Connect #}
        {% if route.garmin_activity_url %}
        <div class="grid__item lg-w-1/2">
          <a class="btn btn--secondary btn--block" href="{{ route.garmin_upload_url }}">Update route on Garmin Connect</a>
        </div>
        <div class="grid__item lg-w-1/2">
          <a class="btn btn--primary btn--block" href="{{ route.garmin_activity_url }}">View route on Garmin Connect </a>
        </div>

        {# Butons if route is uploading #}
        {% elif route.garmin_id and not route.garmin_activity_url %}
        <div class="grid__item">
          <em>Your route is being uploaded to Garmin Connect. Check back again soon..</em>
        </div>

        {# Butons if route is not yet on Garmin Connect #}
        {% else %}
        <div class="grid__item sm-w-1/2 md-w-2/3 lg-w-3/4">
          <a class="btn btn--primary btn--block" href="{{ route.garmin_upload_url }}">Upload Route to Garmin Connect</a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="grid__item sm-w-1/3 lg-w-1/4">
      <div class="box box--default text-small">
        <h3 class="mrgt0">Step-by-step instructions</h3>
        <h4>Before your activity</h4>
        <ol>
          <li>Upload the route to Garmin Connect</li>
          <li>Once the route has been uploaded, follow the link to the activity page</li>
          <li>One the activity page, choose "Send To Device"</li>
          <li>Sync your device</li>
        </ol>
        <h4>When you start your activity</h4>
        <ol>
          <li>Select the Activity Type and go to the options</li>
          <li>Choose "Race an Activity" > "Downloaded"</li>
        </ol>
      </div>
    </div>
  </div>
</section>
{% endif %}
