{% load static humanize %}
{% static route.svg as svg %}

<li>
  <a href="{{ route.display_url }}">
    <div class="media">
      <div class="media__left">
        <img
          src="{{ route.image.thumb.url|default:svg }}"
          alt=""
          height="45px"
          width="45px"
        />
      </div>
      <div class="media__body relative-parent">
        <h4 class="mrgv0">{{ route.name }}</h4>
        <p class="mrgv0">
          {% if route.length %}{{ route.get_length.km|floatformat:1|intcomma }}km - {% endif %}
          {% if route.totalup %}{{ route.get_totalup.m|floatformat:"0"|intcomma }}m+ {% endif %}
          {% if route.totaldown %}{{ route.get_totaldown.m|floatformat:"0"|intcomma }}m- {% endif %}
        </p>
        <div class="pull-right"> view &rsaquo; </div>
      </div>
    </div>
  </a>
</li>