{% load static humanize %}
{% static route.svg as svg %}

<li>
  <a href="{{ route.display_url }}">
    <div class="media">
      <div class="media__left">
        <img src="{{ route.image.thumb.url|default:svg }}" alt="" height="45" width="45" />
      </div>
      <div class="media__body relative-parent">
        <h4 class="mrgv0">{{ route.name }}</h4>
        <p class="mrgv0">
          {% if route.total_distance %}{{ route.get_total_distance.km|floatformat:1|intcomma }}km - {% endif %}
          {% if route.total_elevation_gain %}{{ route.get_total_elevation_gain.m|floatformat:"0"|intcomma }}m+
          {% endif %}
          {% if route.total_elevation_loss %}{{ route.get_total_elevation_loss.m|floatformat:"0"|intcomma }}m-
          {% endif %}
        </p>
        <div class="pull-right"> view &rsaquo; </div>
      </div>
    </div>
  </a>
</li>
