{% extends "base.html" %}
{% load leaflet_tags geojson_tags humanize %}


{% block title %}Home by Two - {% if object.pk %}Update{% else %}Import{% endif %} {{ object.name }}{% endblock %}

{% block extralinks %}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock extralinks %}

{% block content %}
<h2 class="text-center mrgb0">{{ object.name }}</h2>
<h3 class="text-center mrgt0">{{ object.get_length.km|floatformat:1|intcomma }}km - {{ object.get_totalup.m|floatformat:0|intcomma }}m+ - {{ object.get_totaldown.m|floatformat:0|intcomma }}m-</h3>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
  {# form fields #}
  {% include "_kanbasu_form.html" with form=form %}

  {# map #}
  {% if object.geom %}
  <div class="mrgt grid grid--right">
    <div class="field-label grid__item md-w-1/5">Route Map</div>
    <div class="grid__item md-w-4/5">{% leaflet_map "main" callback="route_map_init" %}</div>
  </div>
  {% endif %}
  {# buttons #}
  <div class="form-group grid grid--right">
    <div class="grid__item md-w-4/5 grid grid--tight">
      {% if object.pk %}
      <a href="{{ object.display_url }}" class="btn btn--default btn--block mrgt-">Cancel</a>
      <input class="btn btn--primary btn--block mrgt-" type="submit" value="Save {{ object.name }}" />
      {% elif object.can_be_imported %}
      <input class="btn btn--primary btn--block mrgt-" type="submit" value="Import {{ object.name }}" />
      {% else %}
      <button class="btn btn--default btn--disabled btn--block mrgt-" disabled>Route Already Imported</button>
      {% endif %}
    </div>
    <div class="grid__item md-w-4/5">
      {% if object.pk %}
      <a href="{{ object.delete_url }}" class="btn btn--delete btn--block mrgt-">Delete {{ object.name }}</a>
      {% endif %}
    </div>
  </div>
</form>

{% endblock content %}

{% if object.geom %}
  {% block extrajs %}
    <script type="text/javascript">
      function route_map_init (map, options) {
        const route = L.geoJson({{ object|geojsonfeature|safe }});
        route.addTo(map);
        map.fitBounds(route.getBounds());
        map.scrollWheelZoom.disable();
        map.touchZoom.disable();
        map.boxZoom.disable();
        const icon = L.divIcon({
          className: 'placeIcon placeIcon--default',
        });
        const checkpoints = Array.from(document.querySelectorAll('[data-geom]'));
        const markers = checkpoints.map(checkpoint => {
          L.geoJson(JSON.parse(checkpoint.dataset.geom), {
            pointToLayer: (feature, latlng) => L.marker(latlng, {
              icon: icon,
              title: feature.properties.name
            }),
            style: feature => ({color: '000000'}),
            onEachFeature: (feature, layer) => layer.bindPopup(feature.properties.name)
          }).addTo(map);
        });
      }
    </script>
  {% endblock extrajs %}
{% endif %}
