{% extends "base.html" %}

{% block title %}Home by Two - {{ route.name }}{% endblock %}

{% block header %}
  {% include "routes/_performance_box.html" %}
  {% include "routes/_route_title.html" %}
{% endblock header %}

{% block content %}
  {% include "routes/_course.html" %}
  {% include "routes/_route_map.html" %}
  {% include "routes/_route_owner_buttons.html" %}
  {% include "routes/_route_source_link.html" %}
  {% include "routes/_garmin_activity_buttons.html" %}
{% endblock content %}

{% if route.geom %}
  {% block extrajs %}
    {% include "routes/_route_map_script.html" %}
  {% endblock extrajs %}
{% endif %}
