{% extends "base.html" %}
{% load leaflet_tags geojson_tags humanize %}

{% block title %}Home by Two - {{ route.name }}{% endblock %}

{% block extralinks %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock extralinks %}

{% block header %}
{% include 'routes/_image.html' %}
{% endblock header %}

{% block content %}
  {# Route Title section #}
  <header class="clearfix">
    <h1 class="mrgb0 text-center">{{ route.name }}</h1>
    <h2 class="mrgv0 text-center">{{ route.get_length.km|floatformat:1|intcomma }}km - {{ route.get_totalup.m|floatformat:0|intcomma }}m+ - {{ route.get_totaldown.m|floatformat:0|intcomma }}m-</h2>
    <div class="pull-left mrg-" >&lsaquo; <a href="{% url 'routes:routes' %}">Routes list</a></div>
    {% if user == route.athlete.user %}
      <div class="pull-right mrg-"><a href="{% url 'routes:edit' route.id %}">Edit Route</a> &rsaquo;</div>
    {% endif %}
  </header>

  {% include 'routes/_course.html' %}

  {# map #}
  {% if route.geom %}
    <h4 class="mrgh-">Route Map</h4>
    {% leaflet_map "main" callback="route_map_init" %}
  {% endif %}

  {% if route.source_link %}
    <p class="text-right">
      <a href="{{ route.source_link.url }}" target="_blank">See this route on {{ route.source_link.text }}</a>
    </p>
  {% endif %}

{% endblock content %}

{% if route.geom %}
  {% block extrajs %}
    <script>
      function route_map_init (map, options) {
        const route = L.geoJson({{ route|geojsonfeature|safe }});
        route.addTo(map);
        map.fitBounds(route.getBounds());
        map.dragging.disable();
        map.scrollWheelZoom.disable();
        const icon = L.divIcon({
          className: 'placeIcon placeIcon--default',
        });
        const places = Array.from(document.querySelectorAll('.place--known'));
        const markers = places.map(place => {
          L.geoJson(JSON.parse(place.dataset.geom), {
            pointToLayer: (feature, latlng) => L.marker(latlng, {
              icon: icon,
              title: feature.properties.name
            }),
            style: feature => ({color: '000000'}),
            onEachFeature: (feature, layer) => layer.bindPopup(feature.properties.name)
          }).addTo(map);
        });
      }
    </script>
  {% endblock extrajs %}
{% endif %}