{% extends "base.html" %}

{% block title %}Home by Two{% endblock %}

{% block content %}
    {% include "includes/_header.html" %}
<div class="grid grid--center grid__item">
    {% if message %}
    <div class="grid__item mrgv-">
        {% if error %}<div class="box alert alert--error">{% endif %}
        {% if not error %}<div class="box alert alert--info">{% endif %}
            <p>{{ message }}</p>
        </div>
    </div>
    {% endif %}
    <div class="grid__item lg-w-1/2">{% include "importers/switzerland_mobility/includes/_login_form.html" %}</div>
    <div class="grid__item lg-w-1/2">{% include "importers/switzerland_mobility/includes/_signup.html" %}</div>
</div>
{% endblock content %}