*.map
*.pyc
.idea
.pycharm_helpers
/.tox
/.vagrant/
/envdir/*
/homebytwo/media
/homebytwo/static/javascripts/*
/homebytwo/static/scss/*
/node_modules/
/npm-debug.log
/virtualization/playbook.retry
__pycache__