*.map
*.pyc
.coverage
.coverage.*
.idea
.pycharm_helpers
/.pytest_cache
/.tox
/.vagrant/
/envdir/*
!/envdir/.gitkeep
/homebytwo/media
/homebytwo/static/javascripts/*
/homebytwo/static/scss/*
/htmlcov/
/node_modules/
/npm-debug.log
/virtualization/playbook.retry
__pycache__
celerybeat-schedule.db
celerybeat.pid
elm-stuff
