{% load static %}

    <h1>Will you be back on time?</strong></h2>

    <div class="grid grid--center">
      <div class="w-5/6 md-w-1/3 mrgv-- grid__item">
        <div class="text-center box box--primary box--match-height">
          <img src="{% static 'images/schedule.svg' %}" alt="Schedule Symbol" class="h-align">
          <h3>Schedule Outings</h3>
          <p>Plan your hiking, running and cycling outings to find out when you need to start and when you will be back. Check during your activity wether you will catch your train back.</p>
          <p><a class="btn btn--default" href="/register/">Get started</a></p>
        </div>
      </div>
      <div class="w-5/6 md-w-1/3 mrgv-- grid__item">
        <div class="text-center box box--primary box--match-height">
          <img src="{% static 'images/import.svg' %}" alt="Import Symbol" class="h-align">
          <h3>Import Tracks</h3>
          <p>Download tracks from your GPS or import routes from your favorite platforms like <a href="http://www.strava.com">Strava</a> or <a href="http://www.schweizmobil.ch/" target="_blank">Switzerland Mobility</a>.</p>
          <p><a href="/register/" target="_blank" class="btn btn--default">Connect</a></p>
        </div>
      </div>
      <div class="w-5/6 md-w-1/3 mrgv-- grid__item">
        <div class="text-center box box--primary box--match-height">
          <img src="{% static 'images/find.svg' %}" alt="Find Symbol" class="h-align">
          <h3>Find Routes</h3>
          <p>Filter available running or cycling routes by return time. Discover new routes from friends and other users.</p>
          <p><a class="btn btn--default" href="/register/">Discover</a></p>
        </div>
      </div>
    </div>

    <h3>Get Home by Two</h3>
    <p>Plan your outings down to the minute based on your usual speed for the given distance and elevation profile. During the activity, <strong>Home by Two</strong> tracks wether you are ahead or behind schedule and adapts the estimated time of arrival accordingly.</p>
    <p>If you change your plans, you can easily find the best connection back home.</p>

    <h3>How it works</h3>
    <ul>
      <li>During the activity the times are based on your current travel speed and the remaining distance</li>
      <li>Public transport information is retrieved at  <a href="https://opentransportdata.swiss" title="Open Transport Data API" target="_blank">opentransportdata.swiss</a>.</li>
    </ul>