[Unit]
Description=Celery homebytwo
After=syslog.target network.target remote-fs.target nss-lookup.target
[Service]
ExecStart=/home/vagrant/ENV/bin/celery -A homebytwo worker -B -s /vagrant/celerybeat-schedule --loglevel=INFO
User=vagrant
Group=vagrant
WorkingDirectory=/vagrant
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
[Install]
WantedBy=multi-user.target
