{% load static %}

<li>
    <a href="/routes/{{ route.id }}/">
        <div class="grid">
            <div class="w-1/4 grid__item">
                <img class="img-block"
                     src="{% static route.get_poster_picture %}"
                     alt="{{ route.name }} poster image"
                />
            </div>
            <div class="w-3/4 grid__item">
                <h3 class="mrg0">{{ route.name }}</h3>
                <p class="mrg0">{{ route.get_distance.km|floatformat:1}}km - {{ route.totalup|floatformat:"0" }}m+ - {{ route.totaldown|floatformat:"0" }}m-</p>
            </div>
        </div>
    </a>
</li>