<h2>Course</h2>
<ul>
    <li class="place place-start">
        <h3>Start<h3>
        <div class="altitude">385m</div>
    </li>
    <li class="segment segment-trail">
        <h3>Trail<h3>
        <div class="segment-properties">
            <span class="segment-vam">VAM: 608m/h</span> - <span class="segment-pace">Pace: 12:10/km</span>
        </div>
        <div class="segment-distance">{{ route.get_distance.km|floatformat:1 }}km</div>
    </li>
    <li class="place place-finish">
        <h3>Finish<h3>
        <div class="altitude">372m</div>
    </li>
</ul>