{% extends "base.html" %}
{% load static leaflet_tags geojson_tags %}

{% block title %}Home by Two - Available Routes{% endblock %}

{% block extralinks %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock extralinks %}

{% block content %}
    <h1>{{ route.name}}</h1>
    <h2>Route</h2>
    <h2>Map<h2>
    {% leaflet_map "main" callback="detail_map_init" %}
{% endblock content %}

{% block extrajs %}
    <script type="text/javascript">
        function detail_map_init (map, options) {
        	var geom = L.geoJson({{ route.geom|geojsonfeature|safe }});
            geom.addTo(map);
            map.fitBounds(geom.getBounds());
        }
    </script>
{% endblock extrajs %}