{% extends "base.html" %}
{% load static leaflet_tags geojson_tags %}

{% block title %}Home by Two - {{ route.name }}{% endblock %}

{% block extralinks %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock extralinks %}

{% block content %}
    <h1 class="mrg text-center">{{ route.name}}</h1>
    <div class="clearfix mrg">
        <a class="pull-left" href="/routes" title="list of routes">Back</a>
        <a class="pull-right" href="edit" title="list of routes">Edit</a>
    </div>
    {% if route.geom %}
        {% leaflet_map "main" callback="detail_map_init" %}
    {% endif %}

    {% include 'routes/includes/_course.html' %}

{% endblock content %}

{% if route.geom %}
    {% block extrajs %}
        <script type="text/javascript">
            function detail_map_init (map, options) {
                var geom = L.geoJson({{ route.geom|geojsonfeature|safe }});
                geom.addTo(map);
                map.fitBounds(geom.getBounds());
                map.scrollWheelZoom.disable();
            }
        </script>
    {% endblock extrajs %}
{% endif %}