<header class="box box--small box--primary">
    <h1 class="text-uppercase text-center">Home by Two</h1>
    <div class="clearfix">
        <ul class="grid grid--center list-inline">
            <li class="w-1/6 grid__item"><a href="/login/" class="btn btn--default btn--small btn--block">Login</a></li>
            <li class="w-1/6 grid__item"><a href="/routes/" class="btn btn--default btn--small btn--block">Routes</a></li>
            <li class="w-1/6 grid__item"><a href="/importers/" class="btn btn--default btn--small btn--block">Importers</a></li>
        </ul>
    </div>
</header>