{% load humanize geojson_tags duration %}

<li class="box {% if type != "Finish" %}box--default{% else %}box--primary{% endif %} box--tight mrgv- pdg- place"
    {% if place %}data-geom='{{ place|geojsonfeature:"name" }}'{% endif %}>
  {% if type != "Checkpoint" %}<h3 class="mrgt-">{{ type }}</h3>{% endif %}
  <div class="grid grid--tight">
    <div class="w-2/3 sm-w-4/5 grid__item place__name">
      {{ place.name|default:'Unknown place' }}{% if place %},
      {{ altitude|floatformat:0|intcomma }}m{% endif %}
    </div>
    <div class="w-1/3 sm-w-1/5 grid__item text-right">
      {{ schedule|duration:'hike' }}
    </div>
    <div class="w-1/2 grid__item text-small text-left">
      {{ place.place_type.name|default:'Unknown type' }}
    </div>
    <div class="w-1/2 grid__item text-small text-right">
      {{ distance|floatformat:1|intcomma }}km
      &#10138; {{ elevation_gain|floatformat:0|intcomma }}m
      &#10136; {{ elevation_loss|floatformat:0|intcomma }}m
    </div>
  </div>
</li>
