{% load humanize duration %}

<div class="box box--small">
  <h1 class="h2 mrgv0">{{ route.name }}</h1>
  <div class="grid grid--center">
    <ul class="list-inline list-inline--divided">
      {% if route.get_total_distance %}
        <li class="h3 mrgv0">{{ route.get_total_distance.km|floatformat:1|intcomma }}km</li>
      {% endif %}
      {% if route.get_total_elevation_gain %}
        <li class="h3 mrgv0">{{ route.get_total_elevation_gain.m|floatformat:0|intcomma }}m+</li>
      {% endif %}
      {% if not route.data.schedule.empty %}
        <li class="h3 mrgv0">{{ route.get_total_duration|duration:'hike' }}</li>
      {% endif %}
    </ul>
  </div>
</div>
