{% load rules %}

{% has_perm "routes.delete_route" user object as can_delete_route %}

<div class="form-group grid grid--right">
  <div class="grid__item md-w-4/5 grid grid--tight">
    {# Edit or Update Route #}
    {% if object.pk %}
      <a href="{{ object.display_url }}" class="btn btn--default btn--block mrgt-">Cancel</a>
      <input class="btn btn--primary btn--block mrgt-" type="submit" value="Update {{ object.name }}"/>
      {# Import Route #}
    {% else %}
      <input class="btn btn--primary btn--block mrgt-" type="submit" value="Import {{ object.name }}"/>
    {% endif %}
  </div>
  {% if object.pk and can_delete_route %}
    <div class="grid__item md-w-4/5">
      <a href="{{ object.delete_url }}" class="btn btn--delete btn--block mrgt-">Delete {{ object.name }}</a>
    </div>
  {% endif %}
</div>
