{% load rules %}

{% has_perm "routes.delete_route" user route as can_delete_route %}

<div class="form-group grid grid--right">
  <div class="grid__item lg-w-4/5 grid grid--tight">
    {# Edit or Update Route #}
    {% if route.pk %}
      <a href="{{ route.display_url }}" class="btn btn--default btn--block mrgt-">Cancel</a>
      <input class="btn btn--primary btn--block mrgt-" type="submit" value="Update {{ route.name }}"/>
      {# Import Route #}
    {% else %}
      <input class="btn btn--primary btn--block mrgt-" type="submit" value="Import {{ route.name }}"/>
    {% endif %}
  </div>
  {% if route.pk and can_delete_route %}
    <div class="grid__item lg-w-4/5">
      <a href="{{ route.delete_url }}" class="btn btn--delete btn--block mrgt-">Delete {{ route.name }}</a>
    </div>
  {% endif %}
</div>
