{% extends "base.html" %}

{% block title %}Homebytwo - {{ route.name }}{% endblock %}

{% block header %}
  {% include "routes/route/_route_title.html" %}
{% endblock header %}

{% block content %}
  {% include "routes/route/_route_schedule.html" %}
  {% include "routes/route/_route_map.html" %}
  {% include "routes/route/_route_source_link.html" %}
{% endblock content %}

{% if route.geom %}
  {% block extrajs %}
    {% include "routes/route/_route_map_script.html" %}
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        HomeByTwo.Elm.Checkpoints.init({
          node: document.getElementById('elm-checkpoints'),
          flags: JSON.parse(document.getElementById('checkpoints-config').textContent)
        });
      });
    </script>
    {{ checkpoints_config|json_script:"checkpoints-config" }}
  {% endblock extrajs %}
{% endif %}
