{% extends "base.html" %}

{% block title %}Homebytwo - {% if route.pk %}Update{% else %}Import{% endif %} {{ route.name }}{% endblock %}

{% block header %}
  {% include "routes/route/_route_title.html" with route=object %}
{% endblock header %}

{% block content %}
  {% include "routes/route/_route_edit_map.html" %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "_kanbasu_form.html" with form=form %}
    {% include "routes/route/_route_save_buttons.html" %}
  </form>
{% endblock content %}

{% if object.geom %}
  {% block extrajs %}
    {% include "routes/route/_route_map_script.html" with route=object %}
  {% endblock extrajs %}
{% endif %}
