{% load static %}

<footer class="box box--secondary grid grid--center mrgt+">
  <div class="md-w-1/2 grid__item pdg">
    <a href="//www.strava.com" title="Strava Homepage" target="_blank"><img alt="Strava Logo" class="" src="{% static 'images/api_logo_pwrdBy_strava_stack_white.svg' %}"></a>
  </div>
  <div class="md-w-1/2 grid__item text-center pdg">
    <a href="https://www.suissemobileplus.ch/" target="_blank">
      <img class="img-block" src="{% static 'images/switzerland_mobility.svg' %}" alt="Switzerland Mobility Logo">
      <div class=""><p>Compatible with SwitzerlandMobility Plus.</p></div>
    </a>
  </div>
  <div class="clearfix"></div>
  <div class="mrgv0 text-center">
    <p><small>Copyleft 2019, no rights reserved. Built for personal use by <a href="//github.com/drixselecta">Cédric Hofstetter</a>. Contribute on <a href="//github.com/HomebyTwo/homebytwo">GitHub</a>.</small></p>
  </div>
</footer>
