{% load static %}

<footer class="box box--secondary grid grid--center mrgt+">
    <div class="md-w-1/2 grid__item pdg">
        <a href="//www.strava.com" title="Strava Homepage" target="_blank"><img class="img-block" src="{% static 'images/api_logo_cptblWith_strava_stack_white.svg' %}"></a>
    </div>
    <div class="md-w-1/2 grid__item text-center pdg">
        <a href="http://www.schweizmobil.ch/en/schweizmobil.html" target="_blank">
            <img class="img-block" src="{% static 'images/switzerland_mobility.svg' %}" alt="Switzerland Mobility Logo">
            <div class=""><p>Works with Switzerland Mobility Plus.</p></div>
        </a>
    </div>
    <div class="clearfix"></div>
    <div class="mrgv0 text-center">
        <p><small>Copyleft 2018, no rights reserved. Built for personal use by <a href="//github.com/drixselecta" target="_blank">Cédric Hofstetter</a>. Contribute on <a href="//github.com/HomebyTwo/homebytwo" target="_blank">GitHub</a>.</small></p>
    </div>
</footer>
