{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
  <div class="box alert alert--error" role="alert">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endif %}

{% for field in form.visible_fields %}
  <div class="form-group grid">
    <label for="{{ field.id_for_label }}" class="field-label grid__item md-w-1/5">
      {{ field.name }}
    </label>
    <div class="grid__item md-w-4/5">
      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="field field--invalid" %}
          {% for error in field.errors %}
            <div class="field-error">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="field field--valid" %}
        {% endif %}  
      {% else %}
        {% render_field field class="field" %}
      {% endif %}
    </div>
    {% if field.help_text %}
      <div class="field-help">{{ field.help_text }}</div>
    {% endif %}
  </div>
{% endfor %}
