{% load static %}

<nav class="nav">
  <ul class="list-inline">
    <li class="nav__item pdg-">
      <a href="{% url 'home' %}" class="brand">
        {% include "_icon.html" with id="logo" class="icon--huge" %}
      </a>
    </li>

    <li class="nav__item nav__item--main">
      <a href="#" class="nav-toggle-button js-toggle-nav">
        <span class="hamburger hamburger--squeeze">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </span>
      </a>

      {% if user.is_authenticated %}
      <ul class="list-inline list-inline--divided list-inline--center">
        <li class="text-uppercase">
          <a href="{% url 'routes:routes' %}">
            My Routes
          </a>
        </li>
      </ul>
      {% else %}
      {% include "landingpage/_strava_connect_button.html" %}
      {% endif %}
    </li>

    <li class="nav__item">
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}" class="btn btn--small">
        Logout
      </a>
      {% endif %}
    </li>
  </ul>
</nav>
