{% load staticfiles %}

<nav class="nav">
  <ul class="list-inline">
    <li class="nav__item pdg-">
      <a href="{% url 'home' %}" class="brand">
        {% include "_icon.html" with id="logo" class="icon--huge" %}
      </a>
    </li>

    <li class="nav__item nav__item--main">
      <a href="#" class="nav-toggle-button js-toggle-nav">
        <span class="hamburger hamburger--squeeze">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </span>
      </a>

      <ul class="list-inline list-inline--divided list-inline--center">
        <li class="text-uppercase">
          <a href="{% url 'routes:routes' %}" >
          My Routes
          </a>
        </li>
      </ul>
    </li>

    <li class="nav__item">
      {% if not user.is_authenticated %}
        <ul class="list-inline list-inline--center list-inline--tight">
          <li>
            <a href="{% url 'register' %}" class="btn btn--small">
            Register
            </a>
          </li>
          <li>
            <a href="{% url 'login' %}" class="btn btn--small">
            Login
            </a>
          </li>
        </ul>
      {% else %}
          <a href="{% url 'logout' %}" class="btn btn--small">
          Logout
          </a>
      {% endif %}
    </li>
  </ul>
</nav>
