{% load static %}

<nav class="nav">
  <ul class="list-inline">
    <li class="nav__item pdg-">
      <a href="{% url 'home' %}" class="brand">
        {% include "_icon.html" with id="logo" class="icon--huge" %}
      </a>
    </li>

    <li class="nav__item nav__item--main">
      <a href="#" class="nav-toggle-button js-toggle-nav">
        <span class="hamburger hamburger--squeeze">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </span>
      </a>

      <ul class="list-inline list-inline--center">
        {% if user.is_authenticated %}
          <li class="text-uppercase">
            <a href="{% url 'routes:routes' %}">
              My Routes
            </a>
          </li>
          <li class="nav__item">
            <a href="{% url 'logout' %}" class="btn btn--small">
              Logout
            </a>
          </li>
        {% else %}
          {% block login %}
            <li class="nav__item">
              {% include "_strava_connect_button.html" with height=36 %}
            </li>
          {% endblock %}
        {% endif %}
      </ul>
    </li>
  </ul>
</nav>
