{% extends "base.html" %}
{% load static %}
{% block navigation %}{% include "_nav_no_login.html" %}{% endblock %}
{% block content %}
  {% if next %}
    {% if user.is_authenticated %}
      <div class="box alert info">Your account doesn't have access to this page.</div>
    {% else %}
      <div class="box alert info">Please login to see this page.</div>
    {% endif %}
  {% endif %}
  <div class="mrgt grid grid--center">
    <div class="grid__item md-w-1/2">
      {% url "routes:routes" as routes_url %}
      {% include "registration/_connect_with_strava.html" with next=next|default:routes_url %}
      <p>
        No Strava account? Go create one at <a href="http://www.strava.com">Strava</a>. It's free!
      </p>
    </div>
  </div>
{% endblock content %}
