{% extends "base.html" %}
{% load static %}

{% block header %}
{% include "_masterhead.html" with mastersize="medium" banner_image="images/banner-login.jpg" no_navigation=True %}
{% endblock header %}

{% block content %}
  {% if form.errors %}
  <div class="box alert alert--error mrgv">
    <p>Your username and password didn't match. Please try again.</p>
  </div>
  {% endif %}

  {% if next %}
  {% if user.is_authenticated %}
  <div class="box alert alert--info mrgb">
    <p>Your account doesn't have access to this page.
     To proceed, please login with an account that has access:</p>
   </div>
   {% else %}
   <div class="box alert alert--info mrgb">
    <p>Please login to see this page:</p>
  </div>
  {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group grid">
      <label for="id_username" class="field-label grid__item md-w-1/5">Username</label>
      <div class="grid__item md-w-4/5">
        {{ form.username }}
      </div>
    </div>
    <div class="form-group grid">
      <label for="id_password" class="field-label grid__item md-w-1/5">Password</label>
      <div class="grid__item md-w-4/5">
        {{ form.password }}
      </div>
    </div>
    <div class="form-group grid grid--right">
      <div class="grid__item md-w-4/5">
        <input type="submit" class="btn btn--primary" value="Log in" />
      </div>
    </div>
    <div class="form-group grid grid--right">
      <div class="grid__item md-w-4/5">
        <a href="{% url 'password_reset' %}">Lost password?</a>
      </div>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% endblock content %}