{% load humanize %}
<h2 class="text-center">Course Description</h2>
<ul class="list">
    <li class="mrgv box box--default place place-start">
        <h3>{{ route.start_place.schedule }} - {{ route.start_place.name }}, {{ route.start_place.altitude.m|floatformat:0|intcomma }}m</h3>
    </li>
    <li><ul class="list">
        {% for place in places %}
            <li class="mrgv box box--default place h4">{{ place.schedule }} - {{ place.place.name }}, {{ place.altitude.m|floatformat:0|intcomma }}m - {{place.distance.km|floatformat:2|intcomma }}km</li>
        {% endfor %}
    </ul></li>
    <li class="mrgv box box--default place place-finish">
        <h3>{{ route.end_place.schedule }} - {{ route.end_place.name }}, {{ route.end_place.altitude.m|floatformat:0|intcomma }}m</h3>
    </li>
</ul>
