{% load humanize geojson_tags %}
<div class="box">
  <ul class="list">

    {# start place #}
    <h4>Start Place</h4>
    {% if route.start_place %}

      <li class="box box--default box--tight mrgv- pdg- place place--start"
          data-geom='{{ route.start_place|geojsonfeature:"name" }}'>

        <p class="mrgv0">{{ route.start_place.schedule }} - {{ route.start_place.name }}, {{ route.get_start_altitude.m|floatformat:0|intcomma }}m</p>

        <p class="text-small text-right mrgb0">{{ route.start_place.get_place_type_display }} - 0.00km</p>
      </li>

    {% else %}

      <li class="box box--default box--tight mrgv- pdg- place place--start"
          data-geom='{{ route.get_start_point|geojsonfeature }}'>
        <p class="mrgv0">00:00:00 - Start Place, {{ route.get_start_altitude.m|floatformat:0|intcomma }}m</p>
        <p class="text-small text-right mrgb0">Unknown place - 0.00km</p>
      </li>

    {% endif %}

    {# checkpoints #}
    <h4>Checkpoints</h4>
    {% for place in places %}
      <li class="box box--default box--tight mrgv- pdg- place place--checkpoint"
          data-geom='{{ place.place|geojsonfeature:"name" }}'

        <p class="mrgv0">{{ place.schedule }} - {{ place.place.name }}, {{ place.altitude.m|floatformat:0|intcomma }}m</p>

        <p class="text-small text-right mrgb0">{{ place.place.get_place_type_display }} - {{ place.distance.km|floatformat:2|intcomma }}km</p>

      </li>

    {% empty %}
      <li class="box box--default box--tight mrgv- pdg- ">No checkpoint along the route.</li>

    {% endfor %}

    {# finsish place #}
    <h4>End Place</h4>
    {% if route.end_place %}

    <li class="box box--default box--tight mrgv- pdg- place place--finish"
          data-geom='{{ route.end_place|geojsonfeature:"name" }}'>

      <p class="mrgv0">{{ route.end_place.schedule }} - {{ route.end_place.name }}, {{ route.end_place.altitude.m|floatformat:0|intcomma }}m</p>

      <p class="text-small text-right mrgb0">{{ route.end_place.get_place_type_display }} - {{ route.get_length.km|floatformat:1|intcomma }}km</p>

    {% else %}

      <li class="box box--default box--tight mrgv- pdg- place place--start"
          data-geom='{{ route.get_end_point|geojsonfeature }}'>
        <p class="mrgv0">00:00:00 - End Place, {{ route.get_end_altitude.m|floatformat:0|intcomma }}m</p>
        <p class="text-small text-right mrgb0">Unknown place - {{ route.length.km|floatformat:1|intcomma }}</p>
      </li>
    {% endif %}

    </li>
  </ul>
</div>