<div class="grid">
    <div class="grid__item">
        {% if route.image %}
            <div class="box box--tight">
                <p>
                    <img class="img-block"
                    src="{{ route.image.poster.url }}"
                    alt="{{ route.name }} image" />
                </p>

                {% if route.is_owner %}
                <p class="pull-right">
                    <a href="#" class="btn btn--default">Delete image</a>
                </p>
                {% endif %}
            </div>
        {% elif route.is_owner %}
            <div class="box box--default text-center">
                <p><a href="{% url 'routes:image' route.id %}" class="btn btn--primary">Add route image</a></p>
            </div>
        {% endif %}
    </div>
</div>