.box--match-height {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.box--match-height>:last-child {
    margin-top: auto;
}

.box--secondary {
    background-color: $alt-color-darker;
    color: $white;
}