{% load static %}

<!-- Header -->
<header class="box box--small box--primary">
    <div class="clearfix">
        <h1 class="text-uppercase mrg0">Home by Two</h1>
        {% if not no_navigation %}
            {% if not user.is_authenticated %}
                <ul class="list-inline pull-right">
                        <li class=""><a href="/register/" class="btn btn--default btn--small btn--block">Register</a></li>
                        <li class=""><a href="/login/" class="btn btn--small">Login</a></li>
                </ul>
            {% endif %}
        {% endif %}
    </div>
</header>

<!-- Masterhead with images given by the include tag in the parent template-->
<div class="masterhead masterhead--{{ mastersize|default:'big' }} mrgb--">
    <img src="{% static banner_image|default:'images/banner.jpg' %}" class="img-block">
</div>