<div class="mrgv">
  <h2>How it works</h2>
  <ul>
    <li>Before the activity, we look at your Strava account and calculate an <strong>individual performance profile</strong> for each type of activity.</li>
    <li>When you import a route we calculate the <strong>estimated schedule</strong> based on your individual performance profile</li>
    <li>For each route, Home by Two proposes <strong>checkpoints</strong> based on the places you plan to visit. Once you reach them, you know how you are doing against your schedule. 
      <li>During the activity, just tell <strong>Home by Two</strong> when you started the activity and it will tell you if you are on time.</li>
      <li>Public transport information is retrieved at  <a href="https://opentransportdata.swiss" title="Open Transport Data API" target="_blank">opentransportdata.swiss</a>.</li>
    </ul>
  </div>