<div class="mrgv">
  <h2>How does it work?</h2>
  <ul class="list-stacked list-stacked--divided">
    <li>We first look at your Strava history and calculate your <strong>individual performance profile</strong> for each type of activity. The performance profile estimates how fast you are expected move in relation to the steepness of the terrain.</li>
    <li>You can start importing your routes from Strava or Switzerland mobility in parallel. For each route, Homebytwo proposes <strong>checkpoints</strong> based on places along the course. You can choose which ones to include in the schedule.</li>
    <li>For each route, we calculate your <strong>estimated schedule</strong> based on your individual performance profile. During your activity, the checkpoints let you easily find out how you are doing against your schedule. Just tell <strong>Homebytwo</strong> when you started the activity and it will tell you how you are comparing to your schedule based on where you are. There is no need for an app to run in the background.</li>
  </ul>
  Homebytwo is made by enthusiasts for enthusiasts. It's free of charge.
</div>