<section class="section section--primary mrgb md-mrgb++" id="how_it_works">
  <h2 class="mrgt">How does it work?</h2>
  <ul class="list-stacked list-stacked--divided pdgr">
    <li>
      <div class="media media--middle media--small">
        <div class="media__left">{% include "_icon.html" with id="logo" class="icon--medium" %}</div>
        <div class="media__body">We calculate your <strong>individual performance profile</strong> based on your Strava history. The performance profile is an estimation of how fast you move at different steepness of the terrain.</div>
      </div>
    </li>
    <li>
      <div class="media media--middle media--small">
        <div class="media__left">{% include "_icon.html" with id="logo" class="icon--medium" %}</div>
        <div>You can import any route from Strava or Switzerland mobility. For each route, <em>Homebytwo</em> proposes <strong>checkpoints</strong> based on places found along the course. You can choose which ones to include in your schedule.</div>
      </div>
    </li>
    <li>
      <div class="media media--middle media--small">
        <div class="media__left">{% include "_icon.html" with id="logo" class="icon--medium" %}</div>
        <div>The <strong>estimated schedule</strong> is based on your performance profile. During the activity, you see how you are faring against your plan at every checkpoint.</div>
      </div>
    </li>
    <li>
      <div class="media media--middle media--small">
        <div class="media__left">{% include "_icon.html" with id="logo" class="icon--medium" %}</div>
        <div>There is <strong>no need for an app</strong> running in the background. Tell <em>Homebytwo</em> when you started the activity and it will tell you how you are comparing to your schedule based on where you are. </div>
      </div>
    </li>
  </ul>
</section>