{% load static %}

    <h1>Will you be back on time?</strong></h2>

    <div class="grid grid--center">
      <div class="sm-w-1/3 mrgv-- grid__item">
        <div class="text-center box box--primary box--match-height">
          <div class="text-center">
            {% include "_icon.html" with id="schedule" class="icon--huge" %}
          </div>
          <h3>Plan</h3>
          <p>Import routes from your favorite platforms like <a href="http://www.strava.com">Strava</a> or <a href="http://www.schweizmobil.ch/" target="_blank">Switzerland Mobility</a> and Schedule your outings based on your past performance.
          Find out when you need to start and when you will be back.</p>
          <p><a class="btn btn--default" href="/register/">Get started</a></p>
        </div>
      </div>
      <div class="sm-w-1/3 mrgv-- grid__item">
        <div class="text-center box box--primary box--match-height">
          <div class="text-center">
            {% include "_icon.html" with id="checkpoint" class="icon--huge" %}
          </div>
          <h3>Check</h3>
          <p>During your outing, check at anytime wether everything is going according to plan. No need to guess wether you will catch the next connection or if you should call your partner that you are going to be late.</p>
          <p><a href="/register/" target="_blank" class="btn btn--default">Connect</a></p>
        </div>
      </div>
      <div class="sm-w-1/3 mrgv-- grid__item">
        <div class="text-center box box--primary box--match-height">
          <div class="text-center">
            {% include "_icon.html" with id="share" class="icon--huge" %}
          </div>
          <h3>Share</h3>
          <p>Share your routes and schedules with friends and discover popular tracks in any area. Choose routes according to the estimated time of return, including access.</p>
          <p><a class="btn btn--default" href="/register/">Discover</a></p>
        </div>
      </div>
    </div>

    <h3>Get Home by Two</h3>
    <p>Plan your outings down to the minute based on past performance on <a href="http://www.strava.com">Strava</a>. During the activity, <strong>Home by Two</strong> will tell you wether you are on schedule and estimates the time of return accordingly. If you change your plans, you can easily find the best connection back home.</p>

    <h3>How it works</h3>
    <ul>
      <li>During the activity the times are based on your current travel speed and the remaining distance compared to your calculated performance from Strava.</li>
      <li>Public transport information is retrieved at  <a href="https://opentransportdata.swiss" title="Open Transport Data API" target="_blank">opentransportdata.swiss</a>.</li>
    </ul>