{% load static %}

<section class="section section--primary" id="temoignages">
  <h2 class="mrgt-">Why schedule in the first place?</h2>
  <div class="media media--responsive">
    <div class="media__left media__middle align-center">
      <img class="img-responsive img-round align-center pdgh" width="150" src="{% static "images/sylvain.jpg" %}" alt="">
    </div>
    <div class="media__body">
      <span class="text-muted"><cite>Cédric</cite> – </span>
      <q class="quote__body">My family always wants to know when I will be back home (answer: 2pm). If I'm plannig for a group, I want to know how we are faring, before it's too late to change plans. <em>Homebytwo<em> is especially usefull when I don't want to miss the last bus back at the end of my run.</q>
    </div>
  </div>
</section>

</li>