{% load static %}

<section class="section section--primary mrgb md-mrgb++" id="testimony">
  <div class="media media--responsive media--bottom">
    <div class="media__left align-center md-pdgh+">
      <img class="img-responsive img-round align-center" width="150" src="{% static "images/cedric.jpg" %}" alt="">
    </div>
    <div class="media__body md-pdgr++">
      <h2 class="mrgt0 md-mrgt">Why schedule in the first place?</h2>
      <span class="text-muted"><cite>Cédric</cite> – </span>
      <q class="quote__body">My family always wants to know when I will be back home (answer: 2pm). If I'm plannig for a group, I want to know how we are faring, before it's too late to change plans. <em>Homebytwo</em> is especially usefull when I don't want to miss the last bus back at the end of my run.</q>
    </div>
  </div>
</section>