{% extends "base.html" %}
{% block title %}Home by Two - Register{% endblock %}
{% block header %}
  {% include "_masterhead.html" with banner_image="images/banner-login.jpg" %}
{% endblock header %}

{% block content %}
<div class="box box--default mrgt">
  <h4 class=>We are still working on it...</h4>
  <p class="mrgv-">Even though we would love you to register right now. We are not quite ready yet.</p>
  <p class="mrgt-">Sign up to find out when are ready to launch:</p>
  {% include "landingpage/_email_signup_form.html" %}
</div>
{% endblock content %}