{% extends "base.html" %}
{% block title %}Home by Two - Register{% endblock %}
{% block header %}
  {% include "_masterhead.html" with banner_image="images/banner-login.jpg" %}
{% endblock header %}

{% block content %}

  <h2>Register to Homebytwo</h2>
  <div class="grid grid--center">
    <form class="grid__item md-w-2/3 mrgb" method="post">
      {% csrf_token ent%}
      {% include "_kanbasu_form.html" with form=form %}
      <div class="form-group grid grid--right">
        <div class="grid__item md-w-4/5">
          <button class="btn btn--primary" type="submit">Register to Homebytwo</button>
        </div>
      </div>
    </form>
    <div class="grid__item md-w-1/3">
      {% include "importers/strava/_connect_with_strava.html" %}
    </div>
  </div>
{% endblock content %}