{% load humanize widget_tweaks %}

  <ul class="list-stacked">
    <h4>Checkpoints</h4>
    {% if form.is_bound and form.checkpoints.errors %}
      {% for error in form.checkpoints.errors %}
        <div class="field-error">
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    {% for checkpoint in form.checkpoints %}
      <li class="box box--default box--tight mrgv- pdg-">
        <label class="label mrgv0" for="{{ checkpoint.id_for_label }}">
          {{ checkpoint.tag }}
          {{ checkpoint.choice_label }}
        </label>
      </li>
    {% empty %}
      <li class="box box--default box--tight mrgv- pdg- ">No checkpoint found along the route.</li>
    {% endfor %}
  </ul>