{% load humanize geojson_tags %}

{% if places_form %}
  <h4>Checkpoints</h4>
  {% for place, form in places %}
    <li class="box box--default box--tight mrgv- pdg- place place--checkpoint relative-parent"
    data-geom='{{ place|geojsonfeature:"name" }}'>

      <label class="mrgv0" for="{{ form.include.id_for_label }}">{% for field in form %}{{ field }}{% endfor %}{{ place.name }}, {{ place.altitude_on_route.m|floatformat:0|intcomma }}m</label>

      <p class="text-small text-right mrgv0">{{ place.get_place_type_display }} - {{ place.distance_from_start.km|floatformat:2|intcomma }}km</p>

    </li>
    {% empty %}
        <li class="box box--default box--tight mrgv- pdg- ">No checkpoint found along the route.</li>
    {% endfor %}
{% endif %}