{% load humanize %}

<ul class="list grid__item">
    <li class="mrgb box box--default place place-start">
        {{ form.start_place.errors }}
        <label for="{{ form.start_place.id_for_label }}" class="h4">Starting Place:</label>
        {{ form.start_place }}
    </li>
    <li class="mrgl">
        {{ form.places.errors }}
        <h4>Checkpoints:</h4>
        <ul class="list">
            {% for place in form.places %}
                <li>{{ place }}</li>
            {% endfor %}
        </ul>
    </li>
    <li class="mrgt box box--default place place-finish">
        {{ form.end_place.errors }}
        <label for="{{ form.end_place.id_for_label }}" class="h4">Finish Place:</label>
        {{ form.end_place }}
    </li>
</ul>