{% extends "base.html" %}

{% block title %}Home by Two{% endblock %}

{% block header %}
  {% include "_masterhead.html" %}
{% endblock %}

{% block content %}
<div class="grid grid--center">
  <div  class="grid__item">
    <h1 class="text-left">Connect to your Switzerland Mobility Plus Account</h1>
    <p>We do not store your Switzerland Mobility log-in details at Homebytwo. Your credentials will only be kept in your browser session.</p>
  </div>
  <div class="grid__item md-w-1/2 mrgb">
    {% include "importers/switzerland_mobility/_switzerland_mobility_login_form.html" %}
  </div>
  <div class="grid__item md-w-1/2 mrgb">
    {% include "importers/switzerland_mobility/_switzerland_mobility_signup_box.html" %}
  </div>
</div>
{% endblock content %}