{% extends "base.html" %}

{% block title %}Homebytwo{% endblock %}

{% block header %}
  {% include "_masterhead.html" with mastersize="small"%}
{% endblock %}

{% block content %}
  <div class="grid grid--center">
    <div class="grid__item">
      <h1 class="text-left">Login to Switzerland Mobility Plus</h1>
    </div>
    <div class="grid__item md-w-1/2 mrgb">
      {% include "importers/switzerland_mobility/_switzerland_mobility_login_form.html" %}
    </div>
    <div class="grid__item md-w-1/2 mrgb">
      {% include "importers/switzerland_mobility/_switzerland_mobility_signup_box.html" %}
    </div>
  </div>
{% endblock content %}
