{% extends "base.html" %}
{% load static leaflet_tags geojson_tags humanize %}

{% block title %}Home by Two - {{ route.name }}{% endblock %}

{% block extralinks %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock extralinks %}

{% block content %}
    <h1 class="mrg text-center">{{ route.name}}</h1>
    <h2 class="mrgv0 text-center">{{ route.get_length.km|floatformat:1|intcomma }}km - {{ route.get_totalup.m|floatformat:0|intcomma }}m+ - {{ route.get_totaldown.m|floatformat:0|intcomma }}m-</h2>
    <div class="clearfix mrg">
        <div class="pull-left" >&lsaquo; <a href="{% url 'routes:index' %}">All Routes</a></div>
        <a class="pull-right" href="{% url 'routes:edit' route.id %}">Edit</a>
    </div>

    {% include 'routes/includes/_course.html' %}

    {% if route.geom %}
        {% leaflet_map "main" callback="detail_map_init" %}
    {% endif %}

{% endblock content %}

{% if route.geom %}
    {% block extrajs %}
        <script type="text/javascript">
            function detail_map_init (map, options) {
                var geom = L.geoJson({{ route.geom|geojsonfeature|safe }});
                geom.addTo(map);
                map.fitBounds(geom.getBounds());
                map.scrollWheelZoom.disable();
            }
        </script>
    {% endblock extrajs %}
{% endif %}