{% extends "base.html" %}

{% block title %}Home by Two - Edit image for {{ route.name }}{% endblock %}

{% block content %}
<div class="box">
    <h3>Edit image for {{ route.name }}</h3>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div>{{ form.image }}</div>
        <div class="mrgt text-center">
            <a href="{% url 'routes:route' route.pk %}" class="btn btn--default">Cancel</a>
            <input class="btn btn--primary" type="submit" value="Update image" />
        </div>
    </form>
</div>
{% endblock content %}


