{% extends "base.html" %}
{% load static %}

{% block title %}Home by Two - Available Routes{% endblock %}

{% block content %}
  <h1>Select a Route</h1>
  <ul class="list-stacked list-stacked--tight">
  {% for route in routes %}
      {% include "routes/includes/_route_card.html" %}
    {% empty %}
    <div class="box">
      <h3>Oh no! You do not seem to have anyroute at all.</h3>
      <p>Maybe now is a good time to import one?</p>
    </div>
  {% endfor %}
  </ul>
  {% include 'importers/includes/_import.html' %}
{% endblock content %}