{% load humanize %}

<h2 class="text-center">Course Description</h2>
<ul class="list">
    <li class="mrgv box box--default place place-start">
        <h3>{{ route.start_place.name }} <span class="altitude">{{ route.get_start_altitude.m|floatformat:0|intcomma }} m</span></h3>
    </li>
    <li class="mrgv box box--default segment segment-trail">
        <h3>Segment Name</h3>
        <div class="segment-properties">
            <span class="segment-vam">VAM: 000m/h</span> - <span class="segment-pace">Pace: 00:00/km</span>
        </div>
        <div class="segment-distance">{{ route.get_distance.km|floatformat:1 }}km</div>
    </li>
    <li class="mrgv box box--default place place-finish">
        <h3>{{ route.end_place.name }} <span class="altitude">{{ route.get_end_altitude.m|floatformat:0|intcomma }} m</span></h3>
    </li>
</ul>