{% load humanize %}

<ul class="list grid__item">
    <li class="mrgb box box--default place place-start">
        {{ route_form.start_place.errors }}
        <label for="{{ route_form.start_place.id_for_label }}" class="h4">Starting Place:</label>
        {{ route_form.start_place }}
    </li>
    <li class="mrgl">
        <h4>Checkpoints:</h4>
        {{ places_form.management_form }}
        <ul class="list">
            {% for place, form in places %}
                <li>
                    {{ place.schedule }}
                    {% for field in form %}
                        {{ field }}
                    {% endfor %}
                    {{ place.distance_from_start.km|floatformat:1|intcomma }} km
                    {{ place.name }},
                    {{ place.altitude_on_route.m|floatformat:0|intcomma }} m -
                    {{ place.get_place_type_display }}.
                    {{ place.totalup.m|floatformat:0|intcomma }} m+,
                    {{ place.totaldown.m|floatformat:0|intcomma }} m-.
                </li>
            {% endfor %}
        </ul>
    </li>
    <li class="mrgt box box--default place place-finish">
        {{ route_form.end_place.errors }}
        <label for="{{ route_form.end_place.id_for_label }}" class="h4">Finish Place:</label>
        {{ route_form.end_place }}
    </li>
</ul>