{% load static %}
{% load humanize %}

<li>
    {% if not update %}
    <a href="{% url source.detail_view route.source_id %}">
    {% endif %}
        <div class="media">
            <div class="media__left">
                <img
                    {% if new %} src="{% static source.svg %}" {% endif %}
                    {% if not new %} src="{% static source.muted_svg %}" {% endif %}
                     alt="{{ source.img_alt }}"
                />
            </div>
            <div class="media__body {% if update %} text-muted {% endif %}">
                <h4 class="mrgb0">{{ route.name }}</h4>
                <p class="mrgv0">
                    {% if route.length %}{{ route.get_length.km|floatformat:1|intcomma }}km - {% endif %}
                    {% if route.totalup %}{{ route.get_totalup.m|floatformat:"0"|intcomma }}m+ {% endif %}
                    {% if route.totaldown %}{{ route.get_totaldown.m|floatformat:"0"|intcomma }}m- {% endif %}
                </p>
            {% if not update %}
                <p class="mrgt0 pull-right">import &rsaquo;</p>
             {% endif %}
        </div>
    {% if not update %}
    </a>
    {% endif %}
</li>