{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="text-center">Import routes from your favorite applications</h1>
<ul class="list">
    <li class="mrg box box--default">
        <a class="btn btn--primary" href="{% url 'strava_routes' %}" title="Import from Strava">Import from Strava</a>
    </li>
    <li class="mrg box box--default">
        <a class="btn btn--primary" href="{% url 'switzerland_mobility_routes' %}" title="Import from Switzerland Mobility">Import from Switzerland Mobility</a>
    </li>
</ul>
{% endblock content %}