{% extends "base.html" %}
{% load static leaflet_tags geojson_tags humanize %}

{% block title %}Home by Two - Import {{ route.name }}{% endblock %}

{% block extralinks %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock extralinks %}

{% block content %}
    <h1>Import Route</h1>
    {% if response.error %}
        {% include "importers/includes/_alert.html" %}
    {% endif %}

    {% if route %}
        <div class="text-center">
            <h2>{{ route.name }}</h2>
            <h3 class="mrgv0">{{ route.get_length.km|floatformat:1|intcomma }}km - {{ route.get_totalup.m|floatformat:0|intcomma }}m+ - {{ route.get_totaldown.m|floatformat:0|intcomma }}m-</h3>
        </div>
        <form class="box" method="post" action="{% url source.route_view route.source_id %}">
            <div class="clearfix mrg">
                <div class="pull-left">&lsaquo; <a href="{% url source.routes_view %}" title="list of {{ source.name }} routes">Back</a></div>
            </div>
            {% csrf_token %}
            {% include 'importers/includes/_checkpoints.html' %}
            <div>{{ route_form.source_id }}</div>
            <div>{{ route_form.name }}</div>
            <div>{{ route_form.totalup }}</div>
            <div>{{ route_form.totaldown }}</div>
            <div>{{ route_form.length }}</div>
            <div>{{ route_form.geom }}</div>
            <div>{{ route_form.data }}</div>
            <div class="form-group text-center mrg">
                {% if not route.already_imported %}
                    <input type="submit" value="Import" class="btn btn--md btn--primary">
                {% else %}
                    <p class="btn btn--md btn--default" Disabled>Already Imported</p>
                {% endif %}
            </div>
        </form>
    {% endif %}
    {% if route.geom %}
        {% leaflet_map "main" callback="route_map_init" %}
    {% endif %}

{% endblock content %}

{% if route.geom %}
    {% block extrajs %}
        <script type="text/javascript">
            function route_map_init (map, options) {
                var route = L.geoJson({{ route.geom|geojsonfeature|safe }});
                route.addTo(map);
                map.fitBounds(route.getBounds());
                map.scrollWheelZoom.disable();
            }
        </script>
    {% endblock extrajs %}
{% endif %}