{% extends "base.html" %}
{% load static %}

{% block title %}Home by Two - Import {{ source.name }} Routes{% endblock %}

{% block content %}
    <h1>Import Routes from {{ source.name }}</h1>
    {% if response.error %}
        {% include "importers/includes/_alert.html" %}
    {% else %}
        {% if new_routes %}
            <h2 class="mrg">New Routes</h2>
            <ul class="mrgh routes list-stacked list-stacked--tight">
            {% for route in new_routes %}
                {% include "importers/includes/_route_card.html" with new=True %}
            {% endfor %}
            </ul>
        {% endif %}
        {% if old_routes %}
            <h2 class="mrg">Already Imported Routes</h2>
            <ul class="mrgh routes list-stacked list-stacked--tight">
            {% for route in old_routes %}
                {% include "importers/includes/_route_card.html" %}
            {% endfor %}
        {% endif %}
        {% if not new_routes and not old_routes %}
            <div class="box">
                <h3>No route found</h3>
                <p>Go create some at {{ source.name }} and come back here to import them.</p>
            </div>
        {% endif %}
    {% endif %}
{% endblock content %}