/**
 * Headings
 */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-title;
}

h1,
.h1 {
  margin-top: rem(12px);
  text-align: center;
  text-transform: uppercase;
}

.strava {
  color: $strava;
}

.switzerland_mobility {
  color: $switzerland_mobility;
}
